GeradorProva\build
/calculadoraJuros_JavaFX/nbproject/private/
/calculadoraJuros_JavaFX/build/
/calculadoraJuros_JavaFX/dist/
/sistemaAcademico/nbproject/private/
/sistemaAcademico/dist/
/sistemaAcademico/build/